body {
  font-family: 'Nunito Sans', sans-serif !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.first-content {
  &--icon {
    width: 80%;
  }
}

.third-content {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(51,51,51,0.09987745098039214) 100%);
  .radiobtn {
    border: 3px solid $black !important;
  }
}

.fourth-content {
  img {
    width: 150%;
    max-width: 150%;
    @include MQ(lg) {
      width: 100%;
      max-width: 100%;
    }
  }
  .tabs {
    position: relative;
    bottom: 0;
    @include MQ(lg) {
      position: absolute;
    }
  }
  .tabs-all {
    padding-top: 30px;
  }
}

.fifth-content {
  background-color: #1d1d1b;
  background: url(../images/bg-contacto.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1300px;
  position: relative;
  width: 100vw;
  @include MQ(md) {
    height: 1200px;
  }
  @include MQ(lg) {
    height: 800px;
  }
  &-bg {
    position: absolute;
    width: 100vw;
    display: flex;
    bottom: -1px;
    left: 0;
    &__left {
      width: 65vw;
      height: 0;
      border-bottom: 100px solid #1d1d1b;
      @include MQ(md) {
        border-bottom: 120px solid #1d1d1b;
      }
      border-right: 65vw solid transparent;
    }
    &__right {
      width: 35vw;
      height: 0;
      border-bottom: 100px solid #1d1d1b;
      @include MQ(md) {
        border-bottom: 120px solid #1d1d1b;
      }
      border-left: 35vw solid transparent;
    }
  }

  &--telefonos {
    a {
      margin-bottom: 5px;
      color: #ffffff !important;
    }
  }
  &--icons {
    justify-content: center;
    @include MQ(md) {
      justify-content: start;
    }
  }
  &-contact {
    .field {
      .label, .input, .radio, .textarea {
        color: #ffffff !important;
      }
      .control {
        padding-top: 20px;
        .input, .textarea {
          border-bottom: 1px solid #ffffff;
        }
        input:focus,
        input:valid,
        .textarea:focus,
        .textarea:valid
        {
          ~ .label {
            color: #ffffff;
          }
        }
      }
    }
  }

  .title, .subtitle {
    a {
      color: #ffffff !important;
    }
  }
  a {
    span {
      color: #ffffff !important;
      vertical-align: middle;
      font-weight: 600;
    }
  }
}

.icon-text {
  display: flex;
  .icon {
    margin-right: 10px;
  }
}