.footer {
  background: #1d1d1b;
  padding-bottom: 1.8rem;
  &-venden {
    width: 100%;
    margin-bottom: 10px !important;
  }
  &-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &-logo {
    &-cbs {
      margin-right: 30px;
      margin-left: 30px;
      width: 100px;
      @include MQ(md) {
        width: 100px;
      }
    }
    &-recorp {
      margin-right: 30px;
      margin-left: 30px;
      width: 150px;
      @include MQ(md) {
        width: 130px;
        height: 60px;
      }
    }
  }
  &-columns {
    padding-top: 10px;
  }
  &-icon {
    font-size: 25px;
    vertical-align: bottom;
    margin-right: 10px;
  }
  &-bordered {
    border-bottom: 1px solid;
  }
  &-iconbox {
    display: flex;
  }
}