.hero {
  height: 100vh;
  &-slider {
    height: 100vh;
    &-bg {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
    }
  }
  &-abs-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    display: flex;
  }
  &-bg {
    position: absolute;
    width: 100vw;
    display: flex;
    bottom: 0;
    z-index: 3;
    &__left {
      width: 65vw;
      height: 0;
      border-bottom: 100px solid #ffffff;
      @include MQ(md) {
        border-bottom: 120px solid #ffffff;
      }
      border-right: 65vw solid transparent;
    }
    &__right {
      width: 35vw;
      height: 0;
      border-bottom: 100px solid #ffffff;
      @include MQ(md) {
        border-bottom: 120px solid #ffffff;
      }
      border-left: 35vw solid transparent;
    }
  }
  &-body {
    .container {
      padding-top: 50px;
    }
  }
  .title {
    text-transform: uppercase;
    font-size: 38px;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.4);
    font-weight: 700;
    margin-bottom: 50px;
  }
  .subtitle {
    text-transform: uppercase;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.4);
    font-weight: 700;
    margin-bottom: 50px;
  }
  .title, .subtitle {
    text-align: center;
    @include MQ(lg) {
      text-align: center;
    }
  }
}