body {
  font-family: 'Nunito Sans', sans-serif !important;
}

.third-content {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(51,51,51,0.09987745098039214) 100%);
}