.navbar {
  padding: 35px 50px;
  &.is-transparent {
    background: transparent !important;
  }
  &-item {
    text-transform: uppercase;
    font-weight: 900;
    color: $black !important;
    img {
      max-height: 55px;
    }
  }
}